[paths]
source =
   src/meerkat
   */site-packages/meerkat

[run]
branch = true
source =
    meerkat
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit =
    *migrations*
    tests/*
